---
layout: default
title: Dmitry r CyberFlow Blog
---
{% for post in paginator.posts %}
  <article>

  <div class="full">
    <h1 class="entry-title">
      <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
    </h1>
    <div class="post-info-top">
      <span class="post-info-date">
        <abbr class="published" title="{{ post.date }}">{{ post.date | date_to_long_string }}</abbr>
      </span>
    </div>
    <div class="entry-content full-content">
      {{ post.content }}
      <div class="clear"></div>
    </div>

    <div class="post-comment">
      <span class="add-category">
	Добавлено в&nbsp;
	{% for category in post.categories %}
	<a href="/categories.html#{{ category }}-ref" title="{{ category }}" rel="category tag">{{ category }}</a>
	{% endfor %}
      </span>
      <span id="gotocomments">
	<a href='{{post.url}}#disqus_thread'>Коментарии</a>
      </span>
    </div>

    <div class="clear"></div>
  </div>

  </article>
{% endfor %}

<div class="pagination">
  <span class="previous">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="/blog.html" title="Previous Page">&laquo; Previous</a>
      {% else %}
      <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
      {% endif %}
    {% endif %}
  </span>
  <span class="next">
    {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
    {% endif %}
  </span>
</div>
