/* Override some defaults */
html, body {
  background-color: #f7f7f7;
}
.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /*  negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

#content {
    background-color: #f7f7f7;
    padding-top: 20px;
    float: left;
    padding-bottom: 24px;
    width: 635px;
    margin-right: 20px;
}

#footer {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2C2C2C;
    background-image:-moz-linear-gradient(top, #333333, #222222);
    background-image:-ms-linear-gradient(top, #333333, #222222);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image:-webkit-linear-gradient(top, #333333, #222222);
    background-image:-o-linear-gradient(top, #333333, #222222);
    background-image:linear-gradient(top, #333333, #222222);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    height: 40px;
}

footer {
    color: #777;    
    text-align: center;
}

#sidebar {
    margin-top: 20px;
    overflow: hidden;
    float: left;
    width: 276px;
    background: #F2F2F2;
    border: 1px solid #CCC;
    -moz-border-radius:6px;-webkit-border-radius:6px;
    border-radius:6px;
    padding: 20px 10px 10px;
}

#sidebar h3,#sidebar h2{
    text-shadow:1px 1px 3px #aaa;
    color:#445566;
    font-family:Georgia,"Times New Roman",Times,serif;
    font-size:16px;
    margin:0;
    padding:0 5px;
    line-height:30px;
    border-bottom:1px solid #fff;
}

#sidebar ul ul {
    padding: 8px 5px;
    border-top: 1px solid #DDD;
}

#sidebar ul {
    list-style: none;
}

#sidebar li.widget {
    margin-bottom: 10px;
}

#sidebar li {
    line-height: 20px;
}

#sidebar ul ul ul{
    padding:0;border-top:none;
}

#sidebar ul ul li{
    padding-left:15px;
    background:url("/images/icons.gif") no-repeat 0 -280px;
}

#sidebar ul ul li:hover{
    background:url("/images/icons.gif") no-repeat -10px -260px;
}

#sidebar a {
    color: #555;
    text-shadow: 0 1px 0 #FAFAFA;
}

#sidebar a:hover{color:#999;}

#gotocomments {
    float: right;
    margin-right: 10px;
    background: url("/images/icons.gif") no-repeat scroll 0 0;
    background-position: 0 -100px;
    display: block;
    padding-left: 20px;
}

.add-category {
    float: left;
}

.post-comment {
    overflow: hidden;
    margin-bottom: 20px;
}

.post-comment a{
    color: #999;
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 0px 0px;
  margin: -19px -2px 2px 2px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

/* tag_cloud ======================= */

#sidebar .tagCloud { 
 	font-size: 0.8em; 
 	list-style-type:none; 
}

#sidebar .tagCloud li{ 
	display: inline;
	background: none;
	padding-left: 0;
}

#sidebar .tagCloud li:hover{ 
	display: inline;
	background: none;
	padding-left: 0;
}
	
/* Highlight
 * ================================ */
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

.highlight { background-color: #f8f8ff; border: 1px solid #ddd; padding: 2px 10px; margin-bottom: 18px; overflow: auto }

pre,h1 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

.content article + article {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x;
    padding-top: 20px;
}

.entry-content {
    padding: 0 10px;
}

h1.entry-title {
    border-bottom:1px solid #fff;
    font-size:16px;
    text-shadow:1px 1px 3px #aaa;
    margin:0;
    padding:2px 10px;
}

h1.entry-title a {
    color: #445566;    
}

h1.title-single {
    color: #456;
    font-size:16px;
    text-shadow:1px 1px 3px #aaa;
    margin:0;
    border-bottom: 1px solid white;
    padding:2px 10px;
}

.post-info-top {
    border-top:1px solid #ddd;
    line-height:18px;
    height:18px;
    position:relative;
    color:#999;
    margin:0 0 18px;
    padding:2px 10px;
    overflow:hidden;
    display:block;
}

.post-info-date{
    display:block;
    padding-left:20px;
    background:url("/images/icons.gif") no-repeat scroll 0 0;
}

.post-info-date{
    float:left;
    background-position:0 -40px;
}